# Ignore dotfiles git folder
.cfg

# Ignore my extra folders
dev
worskpace
src
*flamegraph*
personal org
records
tmp

# Ignore mac folders
.account
.Trash
Applications
Desktop
Documents
Downloads
Library
Movies
Music
Pictures
Public

# Ignore Linux folders
.mozilla
Desktop
Documents
Downloads
Music
Pictures
Public
Templates
Videos

# Linux Games
.lutris
.config/lutris
Games
Steam
.steam*

# Misc. Language things
go
.asdf
.cpan

# node
.node-gyp
.npm
.yarnrc

# rust
.cargo
.rustup

# ruby
.yard
.solargraph
.bundle
.gem
*.gem
.pry
.pry.d
.rubies

# Chef
.berkshelf

# DevOps
.terraform.d
.vault-token
.aws

# Don't leak private data
.ssh
.*hist*
.gnupg
.bardcfg

# Work VPN
.anyconnect
.cisco

# Messy transient config (autogen)
.config/coc
.config/htop
.config/configstore
.config/dconf
.config/direnv
.config/tmux/plugins/*
.config/pulse
.config/monitors.xml*
.config/user-dirs*
.config/gnome-*
.config/gtk*
.config/ibus
.configls
.cache
.iterm2*

# vim/neovim
.config/vim/yankround/history
.config/nvim/plugged/
.viminfo
.nvimlog


# VMs
.vagrant.d
VirtualBox VMs


# zsh
.zcompdump*
.zgenom
.zfunc
.zwc


# Misc.
.lesshst
.local
.ngrok
.CFUserTextEncoding
.subversion
.v8flags.*
.wget-hsts
.docker
.oracle*
.cups
.sudo*
.fehbg
.xmonad/xmonad-*
.xmonad/xmonad.hi
