[core]
    editor = vim
    excludesfile = /Users/jjohnson10/.gitignore

[rerere]
    enabled = 1
    autoupdate = 1

[alias]
    s = status
    ff = merge --ff-only
    unstage = reset HEAD --
    freshen = commit --amend --no-edit --date=now
    last = log -1 HEAD -p
    recent = branch --sort=committerdate
    rearrange = "rebase -i $(git merge-base HEAD @{u})"
    append = commit --amend --no-edit

[rebase]
    autoStash = true

[pull]
    rebase = true
