# Ignore dotfiles git folder
.cfg

# Ignore my extra folders
dev
worskpace
src
*flamegraph*
personal org
records
tmp

# Ignore mac folders
.account
.Trash
Applications
Desktop
Documents
Downloads
Library
Movies
Music
Pictures
Public

# Ignore Linux folders
.mozilla
Desktop
Documents
Downloads
Music
Pictures
Public
snap
Templates
Videos

# Linux Games
.lutris
.config/lutris
Games
Steam
.steam*

# Misc. Language things
go
.asdf
.cpan

# node
.node-gyp
.npm
.yarn
.yarnrc

# rust
.cargo
.rustup

# ruby
.yard
.solargraph
.bundle
.gem
*.gem
.pry
.pry.d
.rubies

# postgres
.psql_history*
.pgpass
.pg_service.conf

# Chef
.berkshelf

# DevOps
.terraform.d
.vault-token
.aws
.kube
.lima
.colima
.minikube

# Don't leak private data
.ssh
.*hist*
.gnupg
.bardcfg

# Work VPN
.anyconnect
.cisco

# Messy transient config (autogen)
.config/MusicBrainz
.config/QtProject.conf
.config/Slack
.config/balena-etcher-electron
.config/cef_user_data
.config/coc
.config/configstore
.config/dconf
.config/direnv
.config/evolution
.config/firefox
.config/gnome-*
.config/google-chrome
.config/gtk*
.config/htop
.config/ibus
.config/mimeapps.list
.config/monitors.xml*
.config/pulse
.config/tmux/plugins/*
.config/gree-sitter
.config/user-dirs*
.config/vlc
.configls
.cache
.iterm2*
.icons

# vim/neovim
.config/vim/yankround/history
.config/nvim/plugged/
.viminfo
.nvimlog
.config/nvim/plugin/packer_compiled.lua


# VMs
.vagrant.d
VirtualBox VMs


# zsh
.zcompdump*
.zgenom
.zfunc
.zwc
.bash*

# extra editors
.atom
.vscode

# Misc.
.lesshst
.local
.ngrok
.CFUserTextEncoding
.subversion
.v8flags.*
.wget-hsts
.docker
.oracle*
.cups
.sudo*
.fehbg
.pki
.webdrivers

.xmonad/xmonad-*
.xmonad/xmonad.hi
.xmonad/xmonad.o
