/* Message Dialog */

@import "black_powermenu.rasi"

* {
    background-color:       @background;
    text-color:             @selected;
	font:				 	"Museo Sans 24";
}

window {
    width:      			720px;
    padding:    			50px;
    border:					2px;
    border-radius:          24px;
    border-color:           @border;
    location:               center;
    y-offset:               -4em;
}

entry {
    expand: 				true;
    text-color:				@border;
}
